/* Main container*/
.letter__redactor__container {
    display: grid;
    grid-template-areas: 'left center right';
}

/* left, center, right containers */

.letter__redactor-left {
    text-align: left;
    width: 180px;
    grid-area: left;
}

.letter__redactor-center {
    width: 600px;
    min-height: 1000px;
    background-color: white;
    text-align: right;
    grid-area: center;

}

.letter__redactor-right {
    width: 600px;
    grid-area: right;
    margin-left: 20px;
}

/* buttons */

.letter__redactor__button-left {
    background: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    width: 160px;
    height: auto;
    margin-bottom: 10px;
}

.letter__redactor__button-left:hover {
    background-color: #aaaaaa;
}

.letter__redactor__button-right {
    background: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    width: 120px;
    height: 30px;
    margin: 10px 0;
}

.letter__redactor__button-right:hover {
    background-color: #aaaaaa;
}

/* other styles */

.letter__reset {
    margin: 0;
    padding: 0;
}

.letter__redactor__header {
    margin-bottom: 10px;
}

.letter__redactor__description {
    margin-bottom: 5px;
}

.letter__redactor__description-value {
    margin-bottom: 5px;
    background: #fffcf5;
    border: 1px solid #ccc5b9;
    border-radius: 4px;
    box-shadow: none;
    display: block;
    padding: 10px;
    transition: background-color .3s ease 0s;
    width: 450px;
}