Options -Indexes
RewriteEngine On
Options +FollowSymlinks

AddDefaultCharset utf-8

RewriteBase /

# Styles, images, etc.
RewriteRule	^(css|images|js)/?$				/							[NC,L,R=permanent]
RewriteRule	^(css|images|js)/(.+)$			/includes/view/$1/$2		[NC,L]

RewriteCond	%{REQUEST_FILENAME}				!-f
RewriteCond	%{REQUEST_FILENAME}				!-d
RewriteCond %{REQUEST_FILENAME}				!-l
RewriteCond %{REQUEST_URI} 					!=/favicon.ico
RewriteRule	^(.*)?$							/?p=$1						[L,QSA]

# Forbidden
RewriteRule	^.htaccess$						[F]z