.education__header {
    text-align: center;
}

.education__closed-button {
    margin-top: 10px;
    margin-left: 250px;
}

.education__description {
    width: 600px;
}

.education__header-save {
    margin-bottom: 20px;
}